            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            html {
                scroll-behavior: smooth;
            }
            /* banner */
            
            #banner {
                min-height: 100vh;
                width: 100%;
                background-image: linear-gradient(rgba(218, 218, 218, 0.534), #5730246c), url(https://images.unsplash.com/photo-1625821189600-07e3e9185967?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=877&q=80);
                background-position: center;
                background-size: cover;
                position: relative;
            }
            
            .logo {
                width: 270px;
                position: absolute;
                top: 5%;
                left: 2%;
                cursor: pointer;
            }
            
            .banner-text {
                width: 90%;
                color: #2c160c;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            
            .banner-text h1 {
                font-size: 80px;
            }
            
            .banner-text p {
                font-size: 24px;
                font-style: italic;
            }
            
            .banner-btn {
                display: inline-block;
                text-decoration: none;
                color: #080808;
                border: 1px solid #000000;
                border-radius: 19px;
                padding: 12px 23px;
                font-size: 16px;
                background: transparent;
                position: relative;
                cursor: pointer;
                margin-top: 30px;
                scroll-behavior: smooth;
            }
            
            .banner-btn:hover {
                border: 1px solid #dddddd83;
                background: rgba(255, 255, 255, 0.329);
                transition: 1s;
            }
            /* about */
            
            #about {
                width: 100%;
                padding: 70px 0;
                font-family: 'Poppins', sans-serif;
            }
            
            .title-text {
                text-align: center;
                padding-bottom: 70px;
            }
            
            .title-text p {
                margin: auto;
                font-size: 20px;
                color: #b36e62;
                font-weight: 600;
                position: relative;
                z-index: 1;
                display: inline-block;
            }
            
            .title-text p::after {
                content: ' ';
                width: 50px;
                height: 35px;
                background: linear-gradient(#a1391a67, #fff);
                position: absolute;
                top: -18px;
                left: 0;
                z-index: -1;
                transform: rotate(10deg);
                border-top-left-radius: 35px;
                border-bottom-right-radius: 35px;
            }
            
            .title-text h1 {
                color: #2c160c;
                font-size: 40px;
                font-weight: 600;
            }
            
            .about-box {
                width: 80%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                text-align: center;
            }
            
            .about {
                flex-basis: 50%;
            }
            
            .about-img {
                flex-basis: 50%;
                margin: auto;
            }
            
            .about-img img {
                max-width: 70%;
                border-radius: 10px;
                height: 80vh;
                width: 55vh;
            }
            
            .overlayy {
                width: 320px;
                height: 80vh;
                position: absolute;
                top: 886px;
                right: 245px;
                border-radius: 7px;
                cursor: pointer;
                background: linear-gradient(rgba(218, 218, 218, 0.534), #a1391a67);
            }
            
            .about h1 {
                text-align: left;
                margin-bottom: 10px;
                font-weight: 300;
                color: #b36e62;
            }
            
            .about-details {
                display: flex;
                align-items: center;
                margin-bottom: 40px;
            }
            
            .about-icon .fa {
                width: 40px;
                height: 40px;
                font-size: 25px;
                line-height: 42px;
                border-radius: 8px;
                color: #b36e62;
                border: 1px solid #b36e62;
            }
            
            .about-text p {
                padding: 0 20px;
                text-align: initial;
            }
            /* Our Menu */
            
            #menu {
                font-family: 'Poppins', sans-serif;
                width: 100%;
                background-color: #f8f9fa
            }
            
            .menu-box {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: auto;
            }
            
            .menu {
                flex-basis: 48%;
                text-align: center;
                border-radius: 7px;
                margin-bottom: 20px;
                color: #fff;
                position: relative;
            }
            
            .menu img {
                width: 100%;
                border-radius: 7px;
                height: 370px;
                max-width: 700px;
            }
            
            .overlay {
                width: 100%;
                max-width: 700px;
                height: 100%;
                height: 370px;
                position: absolute;
                top: 0;
                border-radius: 7px;
                cursor: pointer;
                background: linear-gradient(rgba(218, 218, 218, 0.534), #a1391a67);
                opacity: 0;
                transition: 1s;
            }
            
            .menu:hover .overlay {
                opacity: 1;
            }
            
            .menu-details {
                width: 100%;
                position: absolute;
                bottom: 0%;
                left: 50%;
                opacity: 0;
                transform: translateX(-50%);
                transition: 1s;
            }
            
            hr {
                background: #fff;
                height: 2px;
                border: 0;
                margin: 15px auto;
                width: 60%;
            }
            
            .menu-details p {
                font-size: 14px;
            }
            
            .menu:hover .menu-details {
                bottom: 40%;
                opacity: 1;
            }
            /* Contact Us */
            
            #contact {
                margin: 100px auto;
                min-height: 100vh;
                width: 80%;
                border-radius: 10px;
                background-position: center;
                background-size: cover;
                margin-top: 95px;
                font-family: 'Poppins', sans-serif;
                background: rgb(243, 235, 235);
                background-repeat: no-repeat;
            }
            
            .contacts {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            
            .contact-info {
                color: #b36e62;
                max-width: 500px;
                line-height: 65px;
                padding-left: 50px;
                font-size: 18px;
            }
            
            .contact-info i {
                margin-right: 20px;
                font-size: 25px;
            }
            
            .contact-form {
                max-width: 700px;
                margin-right: 50px;
            }
            
            .contact-info,
            .contact-form {
                flex: 1;
            }
            
            .contact-form h2 {
                color: #b36e62;
                font-size: 25px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            
            .contact-form .text-box {
                background: rgb(248, 249, 250);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
                color: black;
                border: none;
                width: calc(50% - 10px);
                height: 50px;
                padding: 12px;
                font-size: 15px;
                border-radius: 5px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
                opacity: 0.9;
            }
            
            .contact-form .text-box:first-child {
                margin-right: 15px;
            }
            
            .contact-form textarea {
                background: rgb(248, 249, 250);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
                color: #fff;
                width: 100%;
                padding: 12px;
                font-size: 15px;
                min-height: 200px;
                max-height: 400px;
                resize: vertical;
                border-radius: 5px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
                opacity: 0.9;
            }
            
            .contact-form .send-btn {
                float: right;
                background: #49231c;
                color: #fff;
                border: none;
                width: 120px;
                height: 40px;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
            }
            
            .contact-form .send-btn:hover {
                background: #5c2118;
            }
            
            .footer {
                padding: 40px 0;
                background-color: #f8f9fac5
            }
            
            .footer .socials {
                text-align: center;
                padding-bottom: 25px;
                color: #4b4c4df8;
            }
            
            .footer .socials a {
                font-size: 24px;
                color: inherit;
                border: 1px solid #ccc;
                width: 40px;
                height: 40px;
                line-height: 38px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                margin: 0 8px;
                opacity: 0.75;
            }
            
            .footer .socials a:hover {
                opacity: 0.9;
            }
            
            .footer ul {
                margin-top: 0;
                padding: 0;
                list-style: none;
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 0;
                text-align: center;
            }
            
            .footer ul li a {
                color: inherit;
                text-decoration: none;
                opacity: 0.8;
            }
            
            .footer ul li {
                display: inline-block;
                padding: 0 15px;
            }
            
            .footer ul li a:hover {
                opacity: 1;
            }
            
            .footer .copyright {
                margin-top: 15px;
                text-align: center;
                font-size: 13px;
                color: #aaa;
            }
            
            @media screen and (max-width:955px) {
                .contacts {
                    flex-direction: column;
                }
                .contact-info,
                .contact-form {
                    margin: 30px 50px;
                }
                .contact-form .text-box {
                    width: 100%;
                }
            }
            
            @media screen and (max-width:745px) {
                .banner-text h1 {
                    font-size: 60px;
                }
                .banner-text p {
                    font-size: 20px;
                }
                .title-text h1 {
                    font-size: 25px;
                }
                .about {
                    flex-basis: 100%;
                }
                .about-img {
                    flex-basis: 100%;
                }
                .about-img img {
                    max-width: 100%;
                }
                .menu {
                    flex-basis: 100%;
                    margin-bottom: 30px;
                }
                .menu-details p {
                    font-size: 12px;
                }
                hr {
                    margin: 5px auto;
                }
                .menu:hover .menu-details {
                    bottom: 25% !important;
                }
            }
            
            @media screen and (max-width:281px) {
                .banner-text h1 {
                    font-size: 31px;
                }
                .banner-text p {
                    font-size: 15px;
                }
                .logo {
                    width: 200px;
                }
            }
            
            @media screen and (max-width:220px) {
                .banner-text h1 {
                    font-size: 21px;
                }
                .banner-text p {
                    font-size: 9px;
                }
                .logo {
                    display: none;
                }
                .banner-btn {
                    border-radius: 19px;
                    padding: 6px 13px;
                    font-size: 9px;
                }
                .title-text h1 {
                    font-size: 13px;
                }
            }
            
            @media screen and (max-width:369px) and (min-width:263px) {
                .banner-text h1 {
                    font-size: 43px;
                }
                .banner-text p {
                    font-size: 12px;
                }
                .logo {
                    width: 190px;
                }
            }